.App {
  text-align: center;
}

.title{
  font-size: 2.5rem;
}

.bookstore {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}

img {
  width: 180px;
  height: 300px;
}

h1 {
  font-size: 1.6rem;
  text-transform: uppercase;
}

p {
  font-size: 0.7rem;
  text-transform: uppercase;
}
